.container{
  padding: 0 var(--side-padding);
  margin-bottom: 50px;
}

.sells-title-container{
  background: linear-gradient(90deg, var(--black) 0%, var(--blue) 50%, var(--purple) 100%);;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sells-title {
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;  
}

.table-header-container{
  text-align: left;
  font-size: 14px;
  padding: 0 var(--side-padding);
  border: none;
  border-bottom: 1px solid var(--white);
  height: 45px;
  background-color: white;
}
.table-header-title{
  margin-left: 30px;
}
.sells-table{
  width: 100%;
  border-spacing: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.table-header-title{
  vertical-align: middle;
  font-weight: 300;
}
.transaction-container {
  height: 30px;
  background-color: white;
}
.transaction-type,.table-header-transaction {
  margin-left: 30px;
}
.transaction-type-cell-dark{
  border-left: 3px solid var(--blue);
}

.transaction-type-cell-light{
  border-left: 3px solid var(--light-gray);
}
td {
  vertical-align: top;
}
.amount-cell {
  margin-bottom: 5px;
}
.extra-info-text, .extra-info-amount{
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 12px
}
.extra-info-amount {
  color: var(--red);
}
.extra-info{
  margin-bottom: 10px;
}
.transaction-title{
  display: none;
}
.line-separator {
  display: none;
}

@media only screen and (max-width: 900px) {
  .transaction-title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin-right: 30px;

  }
  .table-header{
    display: none;
  }
  .transaction-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .transaction-container {
    height: max-content;
    display: flex;
    flex-direction: column;
  }
  .transaction-type {
    margin: 0;
  }
  .line-separator{
    display: block;
    margin: 0;
  }
  .line-light {
    border: 2px solid var(--white);
    color: var(--white);
  }
  .line-dark {
    border: 2px solid var(--blue);
    color: var(--blue);
  }
  .amount-cell, .extra-info-text, .extra-info-amount{
    margin:0;
    margin-right: 10px;
  }
  .extra-info{
    display: flex;
    margin: 0;
  }
}