* {
  font-family: "Montserrat", sans-serif !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}
:root {
  --blue: #111e6c;
  --red: #ef434e;
  --dark-gray: #323232;
  --light-gray: #969696;
  --white: #e5e7ef;
  --black: rgb(2,0,36);
  --purple: #7a4365;
  --side-padding: 3%;
  --light-black: #2d2928; 
}
